body {
  background-image: url("./assets/background.png");
  background-attachment: fixed;
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 120px;
  font-family: sans-serif;
  color: white;
}
